body {
    background: rgb(229, 222, 222);
    display:flex;
    align-items: center;
    justify-content: center;
}

#center{
    justify-content: center;
}


.clock {
   
    color:rgb(128, 46, 46);
    font-size: 80px;
    letter-spacing: 7px;

}